.active{
    color:#D17A22 !important; 
}
.ladi{
    background-image: url(images/Child\ abuse\ 4.jpg);
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    height: 90rem;
    background-position: center;
    
}
h1{
    font-size: 30px;
    padding: 30px;
    color: white;
}