.active{
    color:#D17A22 !important; 
}
.ladi{
    background-image: url(images/Child\ abuse\ 4.jpg);
    background-repeat: no-repeat;
    color: white;
    background-size: contain;
    height: 100vh;
}
h1{
    font-size: 30px;
}