.active{
    color:#D17A22 !important; 
}
.ladi{
    background-image: url(images/child\ abuse\ 3\ copy.jpg);
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
}
h1{
    font-size: 30px;
}